.content {
    margin: 5px;
}

.content__body {
    overflow-x: auto;
}

table.table tr th:first-child {
    width: auto;
}

table.table tr th:last-child {
    width: 132px;
}

.table__download:hover {
    cursor: pointer;
}

h2.content__body--none {
    text-align: center;
    margin-top: 60px;
    color: grey;
    font-size: 24px;
}